.header-sub-container {
  position: relative;
}

.video-container__video{
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

.text-container{
  position: absolute;
  top: -10%;
  width: 100%;
}
.text-container__text{
  color: white;
  text-align: center;
  margin: 30rem;
}

@media only screen and (max-width: 900px){ 
  .text-container{
    font-size: 2rem;
    top: 10%;
  }
  .text-container__text{
    margin: 10rem;
  }
}

@media only screen and (max-width: 600px){  
  .text-container{
    font-size: 2rem;
    top: 3%;
  }
  .text-container__text{
    margin: 10rem;
  }
}

@media only screen and (max-width: 500px){
  .text-container{
    font-size: 1.5rem;
    top: 10%;
  }
  .text-container__text{
    margin: 8rem;
  }
}

@media only screen and (max-width: 400px){ 
  .text-container{
    top: 25%;
  }
  .text-container__text{
    margin: 2.75rem;
  }
}

@media only screen and (max-width: 340px){ 
  .text-container{
    top: 15%;
  }
  
}

/* ## Resources 

### Background Video
coverr.co
*/
