.header-sub-container {
  /* border: .25rem solid rgb(210, 143, 210); */
  /* margin: 1rem; */
  /* padding: 1rem; */
  position: relative;
}

.video-container{

}
.video-container__video{
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

.text-container{
  /* border: .25rem solid orangered; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-container__text{
  /* border: .25rem solid rgb(255, 255, 0); */
  color: white;
  text-align: center;
  margin: 30rem
  /* position: absolute;
  top: 20%;
  left: 20%;
  text-align: center; */
}

/* ## Resources 

### Background Video
coverr.co

*/