/* Main Section Controls */
.main-column-text-container{
  min-height: 100rem;
}
.main-column__item-header{
  font-weight: 600;
  padding-bottom: 2rem;
}

.main-column__item-description{
  font-weight: 200;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.item-link-container__link,
.item-link-container__link:visited{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.item-link-container__link:hover {
  color: rgb(0, 0, 0);
}


/*** Unique elements ***/
/* University */
#university {
  padding: 50rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Home Buyer Contact Form */
.home-text-container{
  padding-left: 40%;
  padding-top: 10%;
  padding-right: 10%;
}


/* Booking Project */
.booking-text-container{
  padding-left: 24%;
  padding-top: 27.5%;
  color: white;
}
#booking__link{
  color: rgb(255, 255, 255);
}

/* Agent Project */
.agent-text-container{
  padding-left: 65%;
  padding-right: 10%;
  padding-top: 10%;
  color: rgb(255, 255, 255);
}
.shopping__header{
  font-weight: 600;
}
.shopping__description{
  font-weight: 200;
}
#shopping-link-id{
  color: white;
}
/* End Agent Project */

/* Begin search project */
.search-text-container{
  color: white;
  padding-left: 50%;
  padding-top: 20%;
  padding-right: 5%;
}

/* End search project */

/* Start Responsive Design */
@media only screen and (max-width: 1200px){
  #university {
    padding: 30rem 0;
  }
  .home-text-container{
    padding-left: 40%;
  }
  .agent-text-container{
    padding-left: 65%;
    padding-top: 15%;
    padding-right: 10%;
  }
}
@media only screen and (max-width: 900px){
  .main-column__item-header{
    font-weight: 400;
  }
  #university {
    padding: 20rem 5rem;
  }
  .school{
    text-align: center;
    margin-bottom: 3rem;
  }
  .home-text-container{
    padding-left: 30%;
    padding-top: 15%;
  }
  .booking-text-container{
    padding-left: 20%;
    padding-top: 37.5%;
  }
  .agent-text-container{
    padding-left: 55%;
    padding-top: 15%;
    padding-right: 5%;
  }
  .search-text-container{
    padding-top: 40%;
  }
}
@media only screen and (max-width: 600px){
  .main-column__item-header{
    font-size: 2.25rem;
  }
  .main-column__item-description,
  .main-column__item-link-container{
    font-size: 2rem;
  }
  #university {
    padding: 15rem 2.5rem;
  }
  .home-text-container{
    padding-left: 20%;
    padding-top: 25%;
  }
  .booking-text-container{
    padding-left: 5%;
    padding-top: 67.5%;
  }
  .agent-text-container{
    padding-left: 10%;
    padding-top: 30%;
    padding-right: 5%;
  }
  .search-text-container{
    padding-top: 50%;
  }
}
@media only screen and (max-width: 450px){
  .agent-text-container{
    padding-left: 5%;
    padding-top: 40%;
    padding-right: 20%;
  }
  .search-text-container{
    padding-left: 30%;
  }
}

@media only screen and (max-width: 400px){
  .main-column__item-header{
    font-size: 1.75rem;
  }
  .main-column__item-description,
  .main-column__item-link-container{
    font-size: 1.5rem;
  }
  #university {
    padding: 5rem 5rem;
  }
  .school{
    margin-bottom: 1rem;
  }
  .home-text-container{
    padding-left: 10%;
    padding-top: 50%;
  }
  .booking-text-container{
    padding-top: 87.5%;
    padding-right: 10%;
  }
  .agent-text-container{
    padding-left: 10%;
    padding-top: 50%;
    padding-right: 20%;
  }
  .search-text-container{
    padding-top: 70%;
  }
}
/* End Responsive Design */

/* ## Resources 

### Hover Effect
https://css-tricks.com/cool-hover-effects-using-background-properties/

### Simple Parallax
https://simpleparallax.com/

*/
