/* Section Controls */
.main-column {
}

/* Item Controlls */
.main-column__item {
  
  /* display: flex;
  flex-direction: column; */

  /* background: linear-gradient(#1095c1 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.08em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s)); */
}
/* .main-column__item:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
  margin: 1rem -1rem;
  scale: (1.1);
} */
.main-column-text-container{
  min-height: 100rem;
}
.main-column__item-header{
  font-weight: 600;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 600px){  
  .main-column__item-header{
    font-weight: 500;
  }
};

.main-column__item-description{
  font-weight: 200;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}
@media only screen and (max-width: 600px){  
  .main-column__item-description{
    font-weight: 100;
    font-size: 2.25rem;
    padding-bottom: 1rem;
  }
};

.main-column__item-link-container{
  font-size: 2.5rem;
  font-weight: 400;
}
@media only screen and (max-width: 600px){  
  .main-column__item-link-container{
    font-size: 2.25rem;
    font-weight: 200;
  }
};

.item-link-container__link,
.item-link-container__link:visited{
  color: black;
  text-decoration: none;
  /* text-transform: uppercase; */

}
.item-link-container__link:hover {
  color: white;
}

/* Item-unique elements */
/* University */
#university {
  padding: 50rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px){  
  #university{
    font-size: 2rem;
  }
};

/* Home Buyer Contact Form */
.home-text-container{
  padding-left: 50%;
  padding-top: 10%;
  padding-right: 10%;
}
@media only screen and (max-width: 600px){  
  .home-text-container{
    padding: 5rem 7rem;
  }
};

/* Booking Project */
.booking-text-container{
  padding-left: 24%;
  padding-top: 27.5%;
  color: white;
}
@media only screen and (max-width: 600px){  
  .booking-text-container{
    color: white;
    padding: 5rem;
  }
};

/* Agent Project */
.agent-text-container{
  padding-left: 70%;
  padding-top: 10%;
  color: white;
}
@media only screen and (max-width: 600px){  
  .agent-text-container{
    color: white;
    padding: 20rem 5rem;
  }
};



/* ## Resources 

### Hover Effect
https://css-tricks.com/cool-hover-effects-using-background-properties/

### Simple Parallax
https://simpleparallax.com/

*/
