/* Colors 
Very light grey: #C5C5C5
Light grey: #AEAEAE
Normal grey: #808080
Dark grey: #3B3B3B
https://www.canva.com/colors/color-meanings/gray/
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%; /* Sets default to 10px */
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  background-color: #e6e6e6;
  font-size: 3rem;
  max-width: 200rem;
}
